<div class="row">
    <a href="/">
        <img id="logo" src="{{ asset('/static/images/logo.svg') }}" width="120" height="70" alt="logo" loading="lazy">
    </a>
    <a class="ml-auto" href="{{ path('account-login') }}">
        <button  type="button" class="btn btn-outline-dark">
            <span class="mr-2"><strong>Login</strong></span>
            <i class="fas fa-user fa-lg"></i>
        </button>
    </a>
</div>
