{% extends 'layouts/layout.html.twig' %}

{% block main %}

    <div class="container">
        <div class="my-5 d-flex justify-content-center">
            <div class="col-12 col-md-6">

                <button type="button" class="btn btn-dark float-right mt-2 mr-2" 
                data-toggle="tooltip" data-placement="bottom" title="Logout">
                    <a class="badge-dark" href="{{ path('account-logout') }}"><i class="fas fa-sign-out-alt"></i></a>   
                </button>
                <div class="jumbotron jumbotron-fluid">

                    <div class="container">
                        {% if memberExists %}
                            <h1 class="display-4">Hello {{ firstname }} {{ lastname }}</h1>
                            <p class="lead">{{ email }}</p>
                        {% else %}
                            <h1 class="display-4">OBS!!!</h1>
                            <p class="lead">Member does not exists.</p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}