{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">

            <div class="col-3">
                <div class="row">
                    <a class="" href="/">
                        <img id="logo" src="{{ asset('/static/images/logo.svg') }}" width="120" height="70" alt="logo" loading="lazy">
                    </a>
                </div>

                {# Navigation left #}
                <div class="row mt-5">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Start feed<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Journal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Meet Lisa</a>
                        </li>
                    </ul>
                </div>
            </div>

            {# NavBar - tabs #}
            <div class="col-9 mt-4">
                <div class="row mb-3">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-notes-tab" data-toggle="pill" href="#pills-notes" role="tab" aria-controls="pills-notes" aria-selected="false">Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-experiences-tab" data-toggle="pill" href="#pills-experiences" role="tab" aria-controls="pills-experiences" aria-selected="false">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-dreams-tab" data-toggle="pill" href="#pills-dreams" role="tab" aria-controls="pills-dreams" aria-selected="false">Dreams</a>
                        </li>
                    </ul>

                    <ul class="nav ml-auto mt-auto">
                        <li class="nav-item mr-3">
                            {# Add notes trigger modal #}
                            <div data-toggle="modal" data-target="#exampleModalCenter">
                                <img class="mt-auto" id="new-note-btn" src="{{ asset('/static/images/new_note_btn.svg') }}" width="30" height="30" alt="new-note-btn" loading="lazy">
                            </div>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-dark btn-sm">
                                <a class="text-white" href="{{ path('account-logout') }}">
                                    <i class="fas fa-sign-out-alt fa-sm"></i>
                                </a>
                            </button>
                        </li>
                    </ul>

                    {# Include Add notes Modal #}
                    {% include '/include/member/add_note_modal.html.twig' %}
                </div>

                <div class="row mt-4">
                    <div class="tab-content" id="pills-tabContent">

                        {# Include Navbar - tab_content #}
                        {% include '/include/member/tab_content.html.twig' %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
